body {
	background-image: url("/projekt/img/main_background.jpg");
	background-color: whitesmoke;
	font-family:"Calibri";
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:75%;
}
.float{
	float:left;
	margin-right:10px;
}
input {
  text-align: center;
}
.form-control {
	border-color:black;
}
input[placeholder] {
  color: black;
}
