body {
	background-color: lightYellow;
	font-family:"Calibri";
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
.float{
	float:left;
	margin-right:10px;
}
.clarFloat{
	float:clear;
}
#logo{
	height:40px;
}